.navbar-fixed {
	position: absolute;
	z-index: 999999999;
}

i.icon-purple {
	color: #5e35b1;
}

.login-modal-size {
	width: 55% !important;
	max-width: 500px !important;
}

.login-modal-divider {
	margin-bottom: 10px !important;
}